body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("bg.png");
    background-size: cover;
}

.background .water{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("mask.png");
    background-size: cover;
    filter: url("#turbulence");
}

 